form{
	direction: rtl!important;
}
input[type="text"],
input[type="email"],
input[type="url"],
input[type="password"],
input[type="search"],
input[type="number"],
input[type="tel"],
input[type="range"],
input[type="date"],
input[type="month"],
input[type="week"],
input[type="time"],
input[type="datetime"],
input[type="datetime-local"],
input[type="color"],
textarea {
	color: $color__text-input;
	border: none;
	border-bottom: 1px solid $color__border-input;
	border-radius: 0px;
	padding: 3px 100px 3px 0;
    width: 100%;
    background: none;
	&:focus {
		color: $color__text-input-focus;
	}
}

select {
	// border: 1px solid $color__border-input;
	border: 0;
    border-bottom: 1px solid $color__border-input;
    width: 100%;
    background: #0000;
    border-radius: 0!important;
}

textarea {
	width: 100%;
	padding: 3px;
}
form 
	p,div{
		position: relative;
	}
label{
	color:$color__blue;
	position: absolute;
	bottom:0;
	z-index: 3;
}
.search-form {
	input[type="text"],
	input[type="search"]{
		padding: 3px;
	}
	label{
		position: relative;
	}
	.search-submit{
		padding: 3px;
	}
	.search-field{
		width: 65%;
	}

}
