$color__blue:#00BEDF;
$color__primary:$color__blue;
$color__orange:#F15647;
$color__secondary:$color__orange;
$color__green:#7EBB64;

$color__background-body: #fff;
$color__background-screen: #f1f1f1;
$color__background-hr: #ccc;
$color__background-button: $color__blue;
$color__background-button-hover: $color__green;
$color__background-pre: #eee;
$color__background-ins: #fff9c0;
$color__background-footer:$color__background-body;




$color__text-screen: #21759b;

$color__text-input: #666;
$color__text-input-focus: #111;
$color__link: #00BEDF;
$color__link-visited: $color__link;
$color__link-hover: $color__green;
$color__text-main: #777777;
$color__text-footer:$color__text-main;

$color__border-button: $color__link;
$color__border-button-hover: $color__link-hover;
$color__border-button-focus: $color__link;
$color__border-input: $color__link;
$color__border-abbr: $color__link;


