@import "../../fonts/font";
@import url('https://fonts.googleapis.com/css?family=Varela+Round');
// $font__main: 'fb_kanubaregular';
$font__main: 'Varela Round', sans-serif;
$font__code: Monaco, Consolas, "Andale Mono", "DejaVu Sans Mono", monospace;
$font__pre: "Courier 10 Pitch", Courier, monospace;
$font__line-height-body: 1.5;
$font__line-height-pre: 1.6;