.site-footer{
	background: $color__background-footer;
	color:$color__text-footer;
	position: relative;
	margin-top: 45px;
	.custom-logo-link{
	    margin: 3rem auto 2rem auto;
	    @media screen and(min-width: 37.5em){
	    	margin: 3rem 0 2rem 0;
	    }
	    img{
	    	height:80px;
	    	width:auto;
	    }

	}
	.social{
		@media screen and(max-width: 37.5em){
	    	margin: 0 auto;
	    }
	}
	.social a{
		color:$color__link;
		&:hover{
			color: $color__link-hover;
		}
		margin: 0 10px;
	    font-size: 2rem;

	}
	&::before{
		@include pseudo;
		@extend .separator;
		top:-25px;
	}
}
.footer-row{
	border-top: 1px solid $color__secondary;
	display: flex;
	align-items:center;
	justify-content:space-between ;
}
.copy{
	font-size: .8em;
	padding:2rem;
	
}
.studio{
	@extend .copy;
	border:0;
	// float:left;
	img{
		    height: 20px;
	    width: auto;
	}
}