@media screen and (max-width:37em){
	.js-float {
	    float: left;
	  }
}

.site-header{
	@media screen and (min-width: 37.5em){
		display: flex;
		flex-wrap: wrap;
	}
	transition: all .6s cubic-bezier(.165, .84, .44, 1);
	height: auto;
	width: 100%;
	background: #ffffff;
	border-bottom: 1px solid $color__primary;
	z-index: 100;
	&.is-hidden {
	  transform: translateY(-100%);
	  transition-duration: .8s;
	}
	&.is-sticky {
	  top: 0;
	  position: fixed;
	  /* padding-top: 29px; */
	  /* padding-bottom: 30px; */
	  
	  transition: top 0.8s;
	}
	
	
	.site-branding{
		
		padding:20px 15px;
		@media screen and(min-width: 37.5em) and(max-width: 1200px){
			flex-grow:1
		}
		@media screen and(min-width: 1200px){
			flex: 0 0 200px;
		}
		img{
			max-height: 60px;
			max-width: 100%;
			width: auto;
		}

	}
	nav{
		
		@media screen and(min-width: 37.5em) and(max-width: 1200px){
			order:3;
			
			width:100%;
		}
		@media screen and(min-width: 1200px){
			flex-grow:1;
		}
		
	}
	.social{
		margin-top:0px;
		@media screen and(min-width: 37.5em){
			margin-top:30px;
		}
		
	}
}


.separator{
	background-image: url(gfx/separator.svg);
	background-position: 50% 50%;
	height:45px;
	width:100%;
	background-size: cover;
}

.scroll-container {
  position: relative;
  width: 100%;
  // overflow: hidden;
  z-index: 1000;
}

.scroll-container-inner {
  position: relative;
  transition: top 0.8s;
}

