.content-area {
	
	width: $size__site-main;
	@media screen and (min-width: 780px){
		float: right;
	margin: 0 0 0 (-$size__site-sidebar);
	}
}

.site-main {
	@media screen and (min-width: 780px){

		margin: 0 0 0 $size__site-sidebar;
	}
}

.site-content .widget-area {
	
	overflow: hidden;
	@media screen and (min-width: 780px){
		// float: left;
		// width: $size__site-sidebar;
	}
}

.site-footer {
	clear: both;
	width: $size__site-main;
}
.entry-header{
	position: relative;
	h1{
		color:#ffffff;
		text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.75);
		font-weight: 700;
		font-size: 2em;
		position: absolute;
		bottom:0em;
		right:1em;
		@media (min-width: 37.5em) {
			font-size: 4em;
		}
	}
} 
@import "no-sidebar";
