.content-rectangle{
	border:1px solid $color__green;
	padding:2rem 1rem;
	margin: 1rem 0;
	
}
.form-container{
	@extend .content-rectangle;
	position:relative;
	background: #ffffff url(gfx/icons_cohavit.png) no-repeat 100% 100%;
	background-size: 300px 300px;
	box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.35);
	@media screen and(min-width: 37.5em){
		-webkit-transform: translateY(-200px);
	   -moz-transform: translateY(-200px);
	    -ms-transform: translateY(-200px);
	     -o-transform: translateY(-200px);
	        transform: translateY(-200px);
	}
	
	z-index:3;
	input[type="submit"]{
		margin:0 auto;
		display:block;
	}
}
.header-placeholder{
		position: relative;
		margin-bottom:3.5rem;
		min-height:120px;
		background-color: $color__blue;
		@media screen and(min-width: 37.5em){
			min-height:200px;
		}
		&:after{
			@include pseudo;
			background: linear-gradient(180deg, rgba(0, 0, 0, 0) 73.28%, #000000 103.78%);
			height:100%;
			width:100%;
			bottom:0;
			left:0;
		}
		&:before{
			@include pseudo;
			@extend .separator;
			bottom:-25px;
			z-index: 1;
		}
	}
.lp-map{
	@media screen and(min-width: 37.5em){
            -webkit-transform: translateY(-200px);
	   -moz-transform: translateY(-200px);
	    -ms-transform: translateY(-200px);
	     -o-transform: translateY(-200px);
	        transform: translateY(-200px);
        }
	
	span{
		white-space: nowrap;
	}
}
.col-reverse{
	@media screen and(max-width: 37.5em){
		flex-direction: column-reverse;
	}
	
}
.home .entry-title{
	display: none;
}