.single-team{
	.widget-area{
		// margin-top:3rem;
	}
	.post-thumbnail{
		@media screen and(min-width:600px){
			max-width:250px;
			float: right;
			margin-left:1rem;
		}
		
	}
}
.grid-item { 
	width: 50%; 
	@media screen and(min-width:37.5em){
		width: 33.33333%; 
	}
	@media screen and(min-width:980px){
		width: 25%; 
	}
	padding:1rem;
	article{
		position: relative;
		overflow: hidden;
	}
	&:hover{
		.mask{
			top:0;
		}
	}
	img{
		display: block;
	}
}
.mask{
	position: absolute;
	display: flex;
	align-items:center;
	top:100%;
	height:100%;
	width: 100%;
	-webkit-transition: all .25s linear;
	   -moz-transition: all .25s linear;
	    -ms-transition: all .25s linear;
	     -o-transition: all .25s linear;
	        transition: all .25s linear;
	background-color: rgba(0,190,223,.5);
	.entry-title{
		text-align: center;
		color:#ffffff;
	    width: 100%;
	    
	    @media screen and(max-width: 37.5em){
	    	@include font-size(1.2);
	    }
	    a{
	    	color:#ffffff;
	    }
	}
}