.main-navigation {
	// clear: both;
	// display: block;
	// float: left;
	// width: 100%;
	@media (min-width: 37.5em) {

	}
	
	// width: 100%;

	ul {
		display: none;
		list-style: none;
		margin: 0;
		padding-right: 0;

		ul {
			
			@media screen and (min-width: 37.5em){
				box-shadow: 0 3px 3px rgba(0, 0, 0, 0.2);
				float: left;
				position: absolute;
				top: 100%;
				left: -999em;
				z-index: 99999;
			    margin: 0;
				background: #fff;
			}

			ul {
				left: -999em;
				top: 0;
			}

			li {
				&:hover > ul,
				&.focus > ul {
					left: 100%;
				}
			}

			a {
				@media screen and (min-width: 37.5em){width: 200px;}
				color: $color__link;

			}

			:hover > a,
			.focus > a {
				color: $color__link-hover;
			}
			a:hover,
			a.focus {
				color: $color__link-hover;
				
			}
		}

		li:hover > ul,
		li.focus > ul {
			left: auto;
		}
	}

	li {
		display: block;
		text-align: center;
		margin:.5rem;
		@media (min-width: 37.5em){
			display: inline-block;
			margin:0 .5rem;
		}
		position: relative;
		a{
			transition:0.3s linear;
			border-bottom:1px solid transparent;
		}
		
		&:hover > a,
		&.focus > a {
			border-bottom:1px solid $color__link-hover;
		}
	}

	a {
		display: block;
		text-decoration: none;
		color: $color__link;
		@include font-size(1.2);
	}
	a:hover,
	a.focus {
		color: $color__link-hover;
	}
	.m-trumot{
	
	    a{
	    	
	    	@media (min-width: 37.5em){
				margin-right: 6rem;
			}
		    background: $color__blue;
		    color: #fff;
		    padding: 0 0.5em;
		    &:hover{
		    	background: $color__green;
		    }
	    }
	}

	.current_page_item:not(.m-trumot) > a,
	.current-menu-item:not(.m-trumot) > a,
	.current_page_ancestor:not(.m-trumot) > a,
	.current-menu-ancestor:not(.m-trumot) > a {
		color: $color__link-hover;
		border-bottom:1px solid $color__link-hover;
	}
}

/* Small menu. */

.main-navigation.toggled ul {
	display: block;
}
.menu-toggle{
	display: block;
	position: absolute;
	left:10px;
	top:10px;
}
@media screen and (min-width: 37.5em) {
	.menu-toggle {
		display: none;
	}
	.main-navigation ul {
		display: block;
		text-align: right;
		margin-top:10px;
		margin-bottom:30px;
	}
	.main-navigation ul.nav-menu {
		margin-top:30px;
	}
}



.comment-navigation,
.posts-navigation,
.post-navigation {

	.site-main & {
		margin: 0 0 1.5em;
		overflow: hidden;
	}

	.nav-previous {
		float: left;
		width: 50%;
	}

	.nav-next {
		float: right;
		text-align: right;
		width: 50%;
	}
}

.sub-menu{
	li a{
		margin-bottom: 15px;
		@include font-size(.95);
	}
}
