body,
button,
input,
select,
optgroup,
textarea {
	color: $color__text-main;
	font-family: $font__main;
	@include font-size(1);
	line-height: $font__line-height-body;
}
.text-green{
	color: $color__green;
}
@import "headings";

@import "copy";
