// stylelint-disable selector-no-qualifying-type

//
// Base styles
//

.btn {
  display: inline-block;
  font-weight: 300;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  user-select: none;
  border: 1px solid transparent;
  text-decoration: none;
  padding:1rem 2rem;

  &:focus,
  &.focus {
    outline: 0;
    box-shadow: 0 0 0 3px rgba(0,190,223,.25);
  }

  // Disabled comes first so active can properly restyle
  &.disabled,
  &:disabled {
    opacity: .7;
   box-shadow: none;
  }

  // Opinionated: add "hand" cursor to non-disabled .btn elements
  &:not(:disabled):not(.disabled) {
    cursor: pointer;
  }

  &:not(:disabled):not(.disabled):active,
  &:not(:disabled):not(.disabled).active {
    box-shadow: 0 0 0 3px rgba(204,204,204,.25);

    &:focus {
     box-shadow: 0 0 0 3px rgba(204,204,204,.25);
  }
}
}

// Future-proof disabling of clicks on `<a>` elements
a.btn.disabled,
fieldset:disabled a.btn {
  pointer-events: none;
}


.btn-primary {
    background: $color__primary;
    border-color:$color__primary;
    color: #fff;
}


//
// Block button
//

.btn-block {
  display: block;
  width: 100%;


}

// Specificity overrides
input[type="submit"],
input[type="reset"],
input[type="button"] {
  &.btn-block {
    width: 100%;
  }
}
