
@font-face {
    font-family: 'fb_kanubabold';
    src: url('fonts/fbkanuba-bold-webfont.woff2') format('woff2'),
         url('fonts/fbkanuba-bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'fb_kanubaregular';
    src: url('fonts/fbkanuba-regular-webfont.woff2') format('woff2'),
         url('fonts/fbkanuba-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'fb_makiatobold';
    src: url('fonts/fbmakiato-bold-webfont.woff2') format('woff2'),
         url('fonts/fbmakiato-bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'fb_kanubablack';
    src: url('fonts/fbkanuba-black-webfont.woff2') format('woff2'),
         url('fonts/fbkanuba-black-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'fb_elitismblack';
    src: url('fonts/fbelitism-black-webfont.woff2') format('woff2'),
         url('fonts/fbelitism-black-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'fb_kanubalight';
    src: url('fonts/fbkanuba-light-webfont.woff2') format('woff2'),
         url('fonts/fbkanuba-light-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}